.App{
  background-color: #333333;
}

.NavSection{
  background-color: #222222;
}

.BrandLogo{
  font-weight: 900;
  color: #dfdfdf;
}

.BrandLink{
  text-decoration: none;
}

span{
  color: #A80000;
}

.ActionNav{
  gap: 15px;
}

.NavButton{
  width: 125px;
  border-radius: 15px;
  background-color: #A80000;
  color: #dfdfdf;
  border-style: none;
}

/* Hero Banner Section */

.CarouselPic{
  width: 100%;
}

/* Hero Banner Section End */

/* Popular Section */

.MovieList{
  text-decoration: none;
  color: black;
}
.cardLink{
  text-decoration: none;
  color: black;
}

.cardSection{
  gap: 5px;
}

/* Popular Section End */

/* Footer section */

.webFooter{
  height: 70px;
  background-color: #222222;
}

/* Movie Details Section */

.detailSection{
  height: auto;
  width: 100%;
  background-color: #222222;
}

.RecomSection{
  background-color: #222222;
}

.bgDarkText{
  color: #dfdfdf;
}

/* Movie Details Section End */